#language-img
{
  transform: rotate(90deg);
}

button, .pointer
{
  cursor: pointer;
}

#mySidebar
{
  display: none;
  width:200px;
  right:0;
}
#headerMobile
{
  margin-bottom: 64px;
}

#idioma-nav
{
  color:#2E4A62;
}
